.slick-arrow.slick-prev,
.slick-arrow.slick-next {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 12px rgba(0,0,0,.2);
    background: #fcfcfc;
    color: #000;
    z-index: 1;
    border-radius: 100%;
}
.slick-prev {
    left: 1.5rem;
}
.slick-next {
    right: 1.5rem;
}
.slick-prev::before,
.slick-next::before {
    display: none;
}

.banner-slider,
.banner-slider-img{
  height: 600px;
}
@media (max-width: 767px) {
    .banner-slider,
    .banner-slider-img{
      height: 500px;
    } 
    .slick-prev {
        left: 1rem;
    }
    .slick-next {
        right: 1rem;
    }
    .slick-arrow.slick-prev,
    .slick-arrow.slick-next {
        width: 30px;
        height: 30px;
    }
}