@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #fff;
    font-family: 'Barlow', sans-serif;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  font-family: 'Lora', sans-serif;
}
.font-lora{
  font-family: 'Lora', sans-serif;
}
/* hover navbar dropdown arrow */
.arrow_down {
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #ccc;
}
/* hover navbar dropdown arrow */

/* login signup sidebar bg image */
.loginSidebar {
    background-image: url("https://static-assets-web.flixcart.com/www/linchpin/fk-cp-zion/img/login_img_c4a81e.png");
    background-position: center 85%;
    background-repeat: no-repeat;
}
/* login signup sidebar bg image */

/* theme css */
.bg-primary-green{
  background-color: green;
}

/* search bar */
.searchbar-header{
   max-width: 50%
}