@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #fff;
    font-family: 'Barlow', sans-serif;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  font-family: 'Lora', sans-serif;
  line-height: 1.4 !important;
}
.font-lora{
  font-family: 'Lora', sans-serif;
}
.font-barlow{
  font-family: 'Barlow', sans-serif;
}
/* hover navbar dropdown arrow */
.arrow_down {
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #ccc;
}
/* hover navbar dropdown arrow */

/* login signup sidebar bg image */
.loginSidebar {
    background-image: url("assets/images/login.jpg");
    background-position: center 85%;
    background-repeat: no-repeat;
}
.loginSidebar::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0000009e;
  left: 0;
  top: 0;
}
/* login signup sidebar bg image */

/* theme css */
.bg-primary-green{
  background-color: green;
}

/* Header */
#userDropDown{
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  color: black;
  letter-spacing: inherit;
  font-size: inherit;
}
#userDropDown-menu{
  padding: 0;
}

/* search bar */
.searchbar-header{
   max-width: 50%
}

/* Arrows position */
.arrows-position-0 .slick-prev {
  left: 0;
}
.arrows-position-0 .slick-next {
  right: 0;
}

/* 404 page not found */
.font-300 {
  font-size: 300px;
  line-height: 1 !important;
}

@media (max-width: 767px) {
  .font-300 {
    font-size: 100px;
  }
}