@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #fff;
    font-family: 'Barlow', sans-serif;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  font-family: 'Lora', sans-serif;
  line-height: 1.4 !important;
}
.font-lora{
  font-family: 'Lora', sans-serif;
}
.font-barlow{
  font-family: 'Barlow', sans-serif;
}
/* hover navbar dropdown arrow */
.arrow_down {
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #ccc;
}
/* hover navbar dropdown arrow */

/* login signup sidebar bg image */
.loginSidebar {
    background-image: url("assets/images/login.webp");
    background-position: center 85%;
    background-repeat: no-repeat;
}
.loginSidebar::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0000009e;
  left: 0;
  top: 0;
}
/* login signup sidebar bg image */

/* theme css */
.bg-primary-green{
  background-color: green;
}
.navigation-menu .active {
  color: green;
}
.min-h-40{
  min-height: 10rem;
}
.shadow {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1), 0 0 5px 0 rgba(0, 0, 0, 0.06);
}
/* Header */
#userDropDown{
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  color: black;
  letter-spacing: inherit;
  font-size: inherit;
}
#userDropDown-menu{
  padding: 0;
}

/* search bar */
.searchbar-header{
   max-width: 50%
}

/* Arrows position */
.arrows-position-0 .slick-prev {
  left: 0;
}
.arrows-position-0 .slick-next {
  right: 0;
}

/* 404 page not found */
.font-300 {
  font-size: 300px;
  line-height: 1 !important;
}

@media (max-width: 767px) {
  .font-300 {
    font-size: 100px;
  }
}

/* Hover css */
.banner-categories img{
  transition: 0.3s;
}
.banner-categories:hover img {
  transform: scale(1.1);
}

.product-category-home:hover img{
  border-color: green;
  animation-name: animation-wobble-horizontal;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

.product-services-section img:hover,
.brand-slider-image img:hover{
  animation-name: animation-wobble-horizontal;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@keyframes animation-wobble-horizontal {
  16.65% {
    transform: translateX(8px);
  }
  33.3% {
      transform: translateX(-6px);
  }
  49.95% {
      transform: translateX(4px);
  }
  66.6% {
      transform: translateX(-2px);
  }
  83.25% {
      transform: translateX(1px);
  }
  100% {
      transform: translateX(0);
  }
}

/* related products */
.related-product-slider .slick-track {
  margin-left:0;
  display: flex;
  gap: 20px;
}
.related-product-slider .slick-slide{
  display: flex;
}
.related-product-slider .slick-prev {
  left: 0;
}
.related-product-slider .slick-next {
  right: 0;
}
.reviews-dialog,
.coupon_popup{
  z-index: 1800 !important;
  overflow-y: scroll;
}
.reviews-dialog .MuiDialogActions-spacing,
.coupon_popup .MuiDialogActions-spacing{
  padding: 15px 24px;
}

.reviews-dialog .MuiDialogContent-root,
.coupon_popup .MuiDialogContent-root{
  padding: 24px !important;
}
.coupon_popup .MuiPaper-root,
.reviews-dialog .MuiPaper-root{
  width: 100%;
}
.SnackbarContainer-root{
  z-index: 2000 !important;
}

.Mui-selected {
  background-color: rgb(25 118 210 / 20%) !important;
}

/* Header Menu */
.navigation-menu{
  top: 0;
}
@media (max-width: 1279px){
  .navigation-menu{
    top: 72px;
  }
}